*{
    font-family: sans-serif;
}
.bg-primary-color{
    background-color: rgb(217, 248, 171);
}
.bg-secondary-color{
    background-color: rgb(180, 248, 79);
}
.bg-dark-color{
    background-color: rgb(14, 22, 17);
}
.texto-branco{
    color: #ccc6c6;
}
.primary-color{
    color: rgb(1, 1, 1);
}
.secondary-color{
    color: rgb(77, 75, 75);
}
/* avbar */
#navbar{
    border-bottom: 1px solid #36765d;
}
#navbar a:hover{
    color: #05be0e;
}
#navbar a.active {
    border-bottom: 1px solid #589664;
}
.navbar-brand {
    display: flex;
}
.navbar-brand img {
    width: 30px;
}
.navbar-brand span {
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 0.5em;
}
#navbar-items .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}
#navbar-items .nav-item {
    margin: 0 1em;
}
/* info container */
.img-perfil{
    align-items: center;
    border-radius: 50px;
}
 #info-container{
    border: 2px solid green;
    margin-bottom: 2em;
    border-radius: 15px;
 }
 h4, h2{
    color: rgb(19, 121, 19);
 }

/* Silder */
#slider{
    margin-top: 4em;
    margin-bottom: 1em;
    padding: 2em;
}
#slider .carousel-caption{
    bottom: 3em;
}
#slider .carousel-caption h5{
    font-size: 2.5em;
    text-shadow:  #000 2px 2px;
}
.btn{
    border-radius: 5;
}
#slider .btn{
    padding: 0.3 0.8em;
    font-size: 1em;
    margin-top: 1em;
}
.carousel-control-prev i,
.carousel-control-next i{
    color: #111;
    font-size: 3em;
}
.carousel-indicatiors[data-bs-target]{
    background-color: #222;
    opacity: 0.8;
}
.carousel-indicators .active{
    background-color: #000;
}
@media(min-width: 768px){
    #slider .carousel-caption{
        bottom: 15em;
    }
    #slider .carousel-caption h5{
        font-size: 4em;
        text-shadow: #000 2px 2px;
    }
    #slider .btn{
        padding: 0.6 1.6em;
        font-size: 1.2em;
    }
    .carousel-indicators {
        bottom: 7em;
    }
}
/* mini banners */
#mini-banners{
    padding: 2em;
    margin-bottom: 4em;
}
#mini-banners .card{
    padding: 2em 0.3em;
    border-radius: 15px;
    margin-bottom: 1em;
}
#mini-banners i{
    font-size: 4em;
}
#mini-banners .card-title{
    margin-bottom: 1.5em;
}
#mini-banners .btn{
    margin-top: 1.5em;
    padding: 0.6em 1.2em;
}
@media(min-width: 768px){
    #mini-banners{
        margin-top: -8em;
    }
}
/* Destaques */
.img-fluid{
    border: 7px solid #206323;
    border-radius: 10px;
}
#featured-container{
    margin-bottom: 4em;
}
.title{
    font-size: 1.7em;
    margin-bottom: 0.4em;
    position: relative;
}
.title:before{
    width: 75px;
    border-top: 4px solid #7a7a7a;
    content: "";
    position: absolute;
    bottom: 2em;
}
#featured-images{
    border-radius: 10px;
    margin-top: 2em;
}
#featured-images .col-md-4{
    position: relative;
    cursor: pointer;
}
#featured-images .col-md-4:hover > .banner-content{
    opacity: 0.8;
}
#featured-images .banner-content{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5;
}
@media(min-width: 760px){
    .title{
        font-size: 2.4em;
    }
    .title:before{
        bottom: 1.5em;
    }
    #featured-images .banner-content{
        opacity:0;
    }
}
/* Info */
#info-content{
    margin-bottom: 4em;
    padding: 4em 1em;
}
#info-numbers{
    margin: 1.5em 0;
}
#info-banner{
    display: flex;
    align-items: center;
    margin-bottom: 2.5em;
}
#info-numbers h3{
    font-size: 3em;
}
@media (min-width: 760px){
    #info-content{
        padding: 3.5em;
    }
}
/* Footer Top */
#footer{
    padding: 3em 2em;
}
#footer-top,
#footer-top i{
    color: #fff;
}
#social-icons{
    text-align: right;
}
#social-icons i{
    margin-right: 1em;
    font-size: 1.5em;
    cursor: pointer;
}
#social-icons i:hover{
    color: #05be0e;
}
/* Footer Detalhes */
#news-container,
#contact-container,
#lisnks-container{
    padding: 0;
    border: 0;
    margin-bottom: 2em;
}
#footer-details h4{
    color: #fff;
    margin-top: 1.5em;
}
#nesws-container input{
    border-radius: 0;
    border: none;
}
#links-container li{
    margin-bottom: 0.5em;
}
#links-container a {
    text-decoration: none;
}
#links-container a:hover{
    color: #fff;
}
/* Footer bottom */
#footer-bottom{
    border-top: 1px solid #f9f9f9;
    padding-top: 2em;
}
#footer-bottom i{
    color: rgb(203, 12, 12);
    margin-left: 0.3em;
}
@media (min-width: 768px){
    #news-container{
        padding-right: 2em;
    }
    #links-container{
        padding-left:  2em;
    }
    #contact-container{
        padding: 0 2em;
        border-left:  1px solid #fbf8f8;
        border-right: 1px solid #fbf8f8;
    }
}